* {
	scroll-margin-top: 1.5rem;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
}

template,
[kapali] {
	display: none !important;
}

[disabled] {
	cursor: not-allowed;
}

.konteyner {
	@include padding(3rem 2rem);
	max-width: 1400px;
	margin: auto;

	@include medya(md) {
		@include padding(2rem 1rem);
	}
}

h1,
h2,
span,
p,
label{
	color: $aksan;
}
