* {
	scroll-margin-top: 1.5rem;
}

html,
body {
	width: 100%;
	height: 100vh;
	max-height: 100vh;

	max-width: 1920px;
	margin: auto;
}

html {
	scroll-behavior: smooth;
}

body {
	@include flex-column;
	overflow-x: hidden;
	transition: background-color 150ms ease-out;
}

template,
[kapali] {
	display: none !important;
}

[disabled] {
	cursor: not-allowed;
}

.konteyner {
	@include padding(3rem 2rem);
	max-width: 1400px;
	margin: auto;

	@include medya(md) {
		@include padding(2rem 1rem);
	}
}

h1,
h2 {
	color: $aksan;
}

span,
p,
label {
	color: $ana-renk;
}

main {
	@include min-medya(ul) {
		height: calc(100% - 7rem);
	}

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"hero slider"
		"cc slider";

	@include medya(ul) {
		@include flex-column;
	}
}

.urun-slider {
	grid-area: slider;
}

.cc {
	grid-area: cc;
}

.hero {
	grid-area: hero;
}
