@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.54;
	}
}

html {
	font-size: 16px;

	@include medya(lg) {
		font-size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	text-transform: capitalize;
}

/* 
	https://type-scale.com/
	1.250 Major Third
*/
$font-boyutlari: (
	1: 5,
	2: 2.5,
);

@each $font-numarasi, $font-degeri in $font-boyutlari {
	h#{$font-numarasi} {
		@include font-size($font-degeri * 1rem);
	}
}

h1,
h2 {
	font-weight: 700;
}

h1 {
	line-height: 1;
}

p {
	@include font-size(1rem);
	font-weight: 400;
}

label {
	@include font-size(0.875rem);
}

span {
	font-size: inherit;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

code {
	font-family: monospace, monospace;
	@include font-size(1em);
}

button,
input,
select,
textarea {
	font-weight: normal;
}

.anchor {
	@include font-size(1.125rem);
	font-weight: 600;
}
.small {
	@include font-size(0.875rem);
	font-weight: 400;
}
