.buton {
	@include padding(1rem 2.5rem);
	@include font-size(1.125rem);
	position: relative;
	display: inline-flex;
	justify-content: center;
	white-space: nowrap;
	text-decoration: none;
	text-transform: capitalize;
	outline: none;
	border: 1px solid transparent;
	background-color: $ana-renk;
	color: $beyaz;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 10px;
	font-weight: 600;

	&:hover {
		background-color: darken($ana-renk, 0.9);
	}

	&#{&}--hayalet {
		background-color: transparent;
		color: $mor;

		&:hover {
			border-color: currentColor;
		}
	}

	&#{&}--link {
		background-color: transparent;
		color: $mor;
		margin: 0;
		padding: 0;

		&::after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: currentColor;
			display: block;
			position: absolute;
			bottom: 0;
			opacity: 0;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
}
