.cerez-popup {
	@include margin(2rem);
	@include padding(1rem 2rem);
	@include flex-row;
	@extend %golge;
	overflow: hidden;

	position: fixed;
	bottom: 0;
	right: 0;

	border-right: 3px solid $aksan;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1em;
	background-color: rgba($ana-renk, $alpha: 0.5);

	@supports (backdrop-filter: blur(50px)) {
		& {
			backdrop-filter: blur(50px);
		}
	}

	@supports not (backdrop-filter: blur(50px)) {
		& {
			background-color: #eff3f4;
		}
	}

	@include medya(xl) {
		bottom: 1em;
		right: 1em;
		left: 1em;
		margin: 0;
		justify-content: center;
		border-right: none;
		border-top: 3px solid $aksan;
	}

	&__butonlar {
		@include flex-center-row;
		flex-wrap: wrap;
		gap: 1rem;
	}

	&__icerik {
		@include font-size(1rem);

		width: 100%;
		max-width: 30em;
		color: black;
		text-decoration: none;

		@include medya(md) {
			text-align: center;
		}

		p {
			text-indent: 0.6em;
			color: $aksan;
			width: 100%;
		}

		span {
			@include padding(0.1rem 0);
			@include margin-top(0.5rem);

			text-transform: capitalize;
			display: inline-block;
			color: $aksan;
			border-bottom: 1px solid transparent;
			transition: none;
		}

		&:hover {
			span {
				border-bottom-color: $aksan;
			}
		}
	}
}
