.pill {
	@include padding(0.5rem 0.875rem);
	background-color: $beyaz;
	color: $ana-renk;
	display: block;
	width: fit-content;
	border-radius: 5rem;
	text-transform: capitalize;
	white-space: nowrap;

	&--2 {
		background-color: $ana-renk--10;
		color: $beyaz;
	}
}
