.urun-kart {
	height: 10rem;
	width: 20rem;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	display: block;

	opacity: 0.7;
	transition: height 150ms ease-out, opacity 150ms ease-out;
	transition-delay: 400ms;

	border: 1px solid transparent;

	/* @extend %golge; */

	& + & {
		margin-top: 1rem;
	}

	&.buton {
		background-color: rgba($ana-renk, 0.2);
		padding: 0;
	}

	&.aktif {
		opacity: 1;
		border: 1px solid rgba($aksan, 1) !important;

		@include min-medya(ul) {
			height: 13rem;
		}
	}

	&__gorsel {
		position: absolute;
		top: 1rem;
		left: 1rem;
		transform-origin: top left;
		transform: scale(0.6);
	}

	&__baslik {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		@include font-size(1.5rem);
		font-weight: 700;
	}
}
