*::selection {
	background-color: $ana-renk;
	color: $beyaz;
}

body {
	background-color: #f3eeee;
/* 	background: conic-gradient(
		from 270deg at 20% 7rem,
		rgba(0, 0, 0, 0),
		rgba($ana-renk, 0.1) 50%
	); */
}
