.cc {
	@include padding(2rem);

	@include medya(md) {
		margin-top: auto;
	}

	@include min-medya(ul) {
		@include flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin-bottom: 3rem;
		padding-bottom: 0;
	}

	&__icerik {
		@include flex-column;
		gap: 1rem;

		@include medya(ul) {
			@include flex-row;
			justify-content: space-between;
			align-items: flex-end;
		}

		@include min-medya(ul) {
			width: 100%;
			max-width: 45rem;
		}

		@include medya(md) {
			@include flex-center-column;
		}
	}

	&__eleman {
		span {
			display: block;
		}

		&:last-child {
			@include medya(ul) {
				text-align: right;
			}
		}

		@include medya(md) {
			text-align: center !important;
		}
	}

	.buton--link {
		vertical-align: baseline;
	}
}
