.cc {
	@include padding(2rem);
	background: conic-gradient(
		from 90deg at 45% 0,
		rgba(0, 0, 0, 0),
		rgba($ana-renk, 0.4) 50%
	);

	@include medya(md) {
		margin-top: auto;
		background: conic-gradient(
			from 90deg at 75% 0,
			rgba(0, 0, 0, 0),
			rgba($ana-renk, 0.4) 50%
		);
	}

	@include min-medya(ul) {
		@include flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding-bottom: 3rem;
	}

	&__icerik {
		@include flex-column;
		gap: 1rem;

		@include medya(ul) {
			@include flex-row;
			justify-content: space-between;
			align-items: flex-end;
		}

		@include min-medya(ul) {
			width: 100%;
			max-width: 45rem;
		}

		@include medya(md) {
			@include flex-column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	&__eleman {
		color: $aksan;

		span {
			color: inherit;
			display: block;
		}

		&:last-child {
			@include medya(ul) {
				text-align: right;
			}
		}

		@include medya(md) {
			text-align: left !important;
		}
	}

	.buton--link {
		color: inherit !important;
		vertical-align: baseline;
	}
}
