.header {
	@include flex-center-row;
	@include padding(2rem);

	@include min-medya(ul) {
		height: 7rem;
	}

	@include medya(xl) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;

		grid-template-areas:
			"logo user"
			"nav nav";
	}

	&__logo,
	&__user {
		flex-grow: 1;
		flex-basis: 0;
	}

	&__logo {
		@include flex-row;
		align-items: center;
		gap: 1rem;
		text-decoration: none;

		grid-area: logo;

		img {
			height: 2rem;
		}
	}

	&__user {
		@include flex-row;
		align-items: center;
		justify-content: flex-end;

		grid-area: user;

		.buton {
			@include padding(0.75rem);
		}

		img {
			height: 2rem;
		}
	}

	.nav {
		flex-grow: 2;
		grid-area: nav;
	}
}
