.urun {
	position: relative;
	width: fit-content;
	overflow: hidden;

	$p-r: 0rem;
	$p-l: 5rem;
	@include padding-right($p-r);
	@include padding-left($p-l);

	@include medya(md) {
		@include margin(0 2rem);
		width: calc(100% - 4rem);
		height: 171rem;
	}

	&__gorseller {
		height: 100%;
		width: 22rem;

		@include medya(md) {
			width: calc(100% - ($p-r + $p-l));
		}
	}

	&__gorsel {
		height: 100%;
		width: calc(100% - ($p-r + $p-l));
		max-width: unset;
		display: block;
		position: relative;
		position: absolute;
		transition: all 250ms ease-out;
		transform: translateX(100%);
		opacity: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&.aktif {
			animation: giris 250ms ease-out 500ms forwards;
		}
		&.pasif {
			animation: cikis 250ms ease-out forwards;
		}

		@keyframes giris {
			0% {
				transform: translateX(100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}

		@keyframes cikis {
			0% {
				transform: translateX(0);
				opacity: 1;
			}
			100% {
				transform: translateX(200%);
				opacity: 0;
			}
		}
	}

	&__bilgileri {
		position: absolute;
		bottom: 3rem;

		left: 0;
		span {
			display: block;
			text-transform: capitalize;

			&:last-child {
				color: $aksan;
			}
		}
	}

	&__bilgi {
		& + & {
			margin-top: 1rem;
		}
	}

	&-kartlar {
		@include flex-center-column;
		@include padding(1rem);
	}
}
